@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?d1eaf87a19bb873df681a3517de7cdca?#iefix") format("embedded-opentype"),
url("iconfont.woff2?d1eaf87a19bb873df681a3517de7cdca") format("woff2"),
url("iconfont.woff?d1eaf87a19bb873df681a3517de7cdca") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-arrow-right-grey:before {
	content: "\f101";
}
.icon-arrow-right-orange:before {
	content: "\f102";
}
.icon-arrow-right-white:before {
	content: "\f103";
}
.icon-arrow-up-grey:before {
	content: "\f104";
}
.icon-chat-icon-header:before {
	content: "\f105";
}
.icon-cross-blue:before {
	content: "\f106";
}
.icon-edit-orange:before {
	content: "\f107";
}
.icon-facebook:before {
	content: "\f108";
}
.icon-heart:before {
	content: "\f109";
}
.icon-home-breadcrumb:before {
	content: "\f10a";
}
.icon-instagram:before {
	content: "\f10b";
}
.icon-linked-in:before {
	content: "\f10c";
}
.icon-location-orange:before {
	content: "\f10d";
}
.icon-location-white:before {
	content: "\f10e";
}
.icon-long-arrow-left-blue:before {
	content: "\f10f";
}
.icon-long-arrow-right-white:before {
	content: "\f110";
}
.icon-menu-icon-header:before {
	content: "\f111";
}
.icon-quote-end:before {
	content: "\f112";
}
.icon-quote-start:before {
	content: "\f113";
}
.icon-search-grey:before {
	content: "\f114";
}
.icon-send-white:before {
	content: "\f115";
}
.icon-star-fill:before {
	content: "\f116";
}
.icon-star:before {
	content: "\f117";
}
.icon-thankyou-check:before {
	content: "\f118";
}
.icon-tick-white:before {
	content: "\f119";
}
.icon-twitter:before {
	content: "\f11a";
}
.icon-user-blue:before {
	content: "\f11b";
}
.icon-walkin-green:before {
	content: "\f11c";
}
.icon-whatsapp-green-bg:before {
	content: "\f11d";
}
.icon-youtube:before {
	content: "\f11e";
}
